@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
  scroll-behavior: smooth;
}
.landing{
  background-image: url(../images/backgrounds/h_img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 17%;
  font-family: 'Monserrat' serif;
  color: aliceblue;
}
.landing h1{
  padding: 2px;
  margin: 5px;
}
.landing p{
  padding: 2px;
}
#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;
}
#mouse-click{
  padding-top: 22px;
  padding-bottom: 30px;
  margin-top: 10%;
}
.about{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: 'Monserrat' serif;
}
#about{
  font-family: 'Monserrat' serif;
}
.services{
  text-align: center;
  background-image: url(../images/backgrounds/s_image.jpg);
  background-size: cover;
  color: aliceblue;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Monserrat' serif;
  font-size: 18px;
}
.services h2{
  font-family: 'Monserrat' serif;
}
#servicesoverlay{
  padding-top: 10%;
  padding-bottom: 10%;
}