@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
  scroll-behavior: smooth;
}
.landing{
  background-image: url(../images/backgrounds/h_img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 17%;
  font-family: 'Monserrat' serif;
  color: aliceblue;
}
.landing h1{
  padding: 2px;
  margin: 5px;
}
.landing p{
  padding: 2px;
}
#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;
}
#mouse-click{
  padding-top: 22px;
  padding-bottom: 30px;
  margin-top: 10%;
}
.about{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: 'Monserrat' serif;
}
#about{
  font-family: 'Monserrat' serif;
}
.services{
  text-align: center;
  background-image: url(../images/backgrounds/s_image.jpg);
  background-size: cover;
  color: aliceblue;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Monserrat' serif;
  font-size: 18px;
}
.services h2{
  font-family: 'Monserrat' serif;
}
#servicesoverlay{
  padding-top: 10%;
  padding-bottom: 10%;
}
.what-we-do{
  font-family: 'Monserrat' serif;
  text-align: center;
  padding-top: 40px;
}
.what-we-do .headings{
  padding-bottom: 30px;
}
#portfolio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 18%;
  margin-right: 16%;
}
.col-md-3{
  max-width: 100%;
  max-height: 100%;
}
.portfolio h2{
  text-align: center;
  padding-top: 40px;
  font-family: 'Monserrat' serif;
}
.contact{
  background-image: url(../images/backgrounds/c_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: aliceblue;
}
.title{
  padding: 6px;
}
.contact h2{
  text-align: center;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Monserrat' serif;
}
input[type=text],input[type=email],#comment{
  background: transparent;
  color: aliceblue;
  font-size: 20px;
  font-family: 'Monserrat' serif;
}
.form-control::-webkit-input-placeholder{
  color: aliceblue;
}
#MERGE1{
  width: 30%;
  margin-left: 18%;
  margin-right: 30px;
}
#MERGE0{
  width: 30%;
}
.comment{
  margin-left: 20%;
  width: 60%;
}
button{
  margin-left: 20%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
footer{
  text-align: center;
  padding-top: 30px;
  font-family: 'Monserrat' serif;
}
footer p{
  margin-top: 10px;
}
#product, #development, #design{
  display: none;
  font-family: 'Monserrat' serif;
  font-size: 16px;
}
#product .title, #development .title, #design .title{
  font-size: 20px;
  font-weight: 600;
}
#overlay1, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6, #overlay7, #overlay8{
  display: none;
  color: black;
  width: 100%;
  height: 100%;
  background-color: gray;
  position: absolute;
  top: 20px;
  left: 25px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 50%;
  font-family: 'Monserrat' serif;
}